.outerbox{
 width: 100vw;
 height: 100vh;
 background:aliceblue
 
}
.class-form{
  top: 20%;
  left: 20% ;
  position: relative;
  
  
  width: 800px;
  height: 500px;
  background-color: aliceblue;
  
}
@media screen and (max-width: 1000px) {
  
  .class-form{
    position: flex !important;
    flex-direction: column !important;
    
    width: 390px !important;
    height: 1020px !important;
    top: 10% !important;
    left: 25% !important;
  }
  .outerbox{
    height: 190vh !important;
  }
  .second{
    margin-top: 20px;
  }
  
}

@media screen and (max-width: 450px) {
  
  .hello{
   
    top: 3% !important;
    left: 3% !important;
  }
  .outerbox{
    height: 125vh !important;
    width: 100vw !important;
    
  }
  
}
@media screen and (max-width: 700px)  {
  
  .class-form{
    left: 9% !important;
    top: 3% !important;
  }
  .outerbox{
    height: 155vh !important; 
  }
  
}


.first{
  width: 390px;
  height: 500px;
  float: left;
  border: 2px solid black;
  background-color:#e1d0d0;
  border-radius: 10px;
}
.second{
  width: 390px;
  height: 500px;
  float: right;
  border: 2px solid black;
  overflow-y: scroll;
  background-color: #ccc;
  border-radius: 10px;
}
.sort{
  top: 5vh;
  margin: 20px 40px;
  padding: 10px;
 justify-content: space-between;
  position: relative;
}
h5 {
  
  float: left;
}
.option{
 
  
  float: right;
  position: relative;
  flex-direction: column;
}

.search{
  position: relative;
  top:5vh
}
.box{
  justify-content: space-between;
  position: relative;
}

.inputsearch{
  float: right;
  
  padding: 5px;
  
}

.givename{
  float: left;
  
  margin: 2px;
  padding: 12px;
  
}
.searchfield{
  top: 50px;
  position: relative;
  padding: 30px;
  width: 380px;
  height: 300px;
  
}
.givename>p{
  padding: 8px;
  
}

.searchfield>h5{
  
  
   margin: 0 auto;
  margin-left: 85px;
  
  padding:10px;
}
.box>h2{
  margin: 10px;
  padding-left: 120px ;
}
.search-btn{
  
   padding-left: 30px;  
   
   
}

a{
   cursor: pointer;
   color: rgb(169, 37, 37);
}
a:hover{
  cursor: pointer;
}
.addstudent{
  width: 350px;
  height: 40px;
  
  position: relative;
  float: left;
  top:-3px;
  
}
.boxitem{
  justify-content: space-between;
  padding: 20px;
  border: 2px solid rgb(124, 63, 63);
  margin: 10px;
  background-color: aliceblue;
  width: 350px;
  height: 90px;
  position: relative;
  border-radius: 10px;
}

.btn{
  color: rgb(255, 255, 255);
  background-color: rgb(26, 176, 206);
  margin: 5px;
  float: right; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:300
  
}
.studentname{
  background-color: rgb(176, 230, 228);
  float: left;
  padding: 10px;
  border-radius: 10px;
}
.aaa{
  left: -90px;
  
}
.aaaa{
  width: 120px !important ;
  margin: 10px !important;
}

.fotter{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: red;
    float: right;
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.fotterlog{
   margin-top:200px !important;
   position: relative;
   top:25px;
   left:13px
}
.fotter:hover{
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}