/* LoginForm.css */
.login-form-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35%;
  width: 395px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color:#fcfefe;
  margin: 0 auto;
  padding: 15px;
  
}
.login-form-container:hover{
  border-style: solid;
  border-color: #020303; 
}
.register{
  top :4%;
  height:unset
}
form {
  display: flex;  
  flex-direction: column;
  gap: 10px;
  background-size: 200%;
}

label {
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  
  margin-top: 5px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.outer{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top left, rgb(0, 255, 229), rgb(242, 246, 247));;
  overflow-y: hidden; 
}
h2 {
  margin: auto;
}

@media screen and (max-width: 600px) {
  
  .login-form-container{
    width: 95vw;
  }
  
}